<div class="jumbotron jumbotron-home">
  <div class="site-nav-wrapper wrapper">
    <nav class="site-nav">
      <div class="trigger">
        <a class="page-link" href="{{ site.baseurl }}/">About</a>
        <a class="page-link" href="{{ site.baseurl }}/posts/">Posts</a>
      </div>
    </nav>
  </div>
  <div class="container text-center">
    <p class='jumbotron-lead'>Matthieu Hostache
      <span class='jumbotron-lead-muted'><span>{</span> Web Developer. }</span>
    </p>
    <p class="mb-3">
      I’m Matthieu, a 26 year old web developer from France.<br>
      Passionate about innovation, web development & open source.
    </p>
  </div>
  <div class="social-networks wrapper">
    <a href="https://github.com/matthieuh" target="_blank" class="social-network">
      <i class="fa fa-github-alt" aria-hidden="true"></i>
    </a>
    <a href="https://twitter.com/twMatthieuH" target="_blank" class="social-network">
      <i class="fa fa-twitter" aria-hidden="true"></i>
    </a>
    <a href="https://www.linkedin.com/in/matthieuh" target="_blank" class="social-network">
      <i class="fa fa-linkedin" aria-hidden="true"></i>
    </a>
  </div>
</div>
